<div class="header-inner-pages">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-information">
                        <p>Welcome to Educate HTML Template</p>
                    </div>
                    <div class="right-bar">
                        <ul class="flat-information">
                            <li class="phone">
                                <a href="%2b 1383766284.html" title="Phone number">0084 - 9622 26602</a>
                            </li>
                            <li class="email">
                                <a href="mailto:AlitStudios@gmail.com" title="Email address"> info@educate.com</a>
                            </li>
                        </ul>
                        <ul class="flat-socials">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="linkedin">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="youtube">
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.header-inner-pages -->
